@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

h1, p {
    font-family: 'Poppins', sans-serif;
}

.temperature {
    font-size: clamp(48px, 8vw, 96px);
}

.card-text {
    font-size: clamp(12px, 2vw, 24px);
}

.card-title {
    font-size: clamp(16px, 2.25vw, 24px);
}